<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>12-webpack学习笔记</string>
		<string>01-html</string>
		<string>10-其他零散知识点</string>
		<string>04-面试题总结</string>
		<string>03-javascript</string>
		<string>02-css</string>
		<string>07-nodejs相关</string>
		<string>08-数据结构与算法</string>
		<string>06-高性能网站建设指南</string>
		<string>05-前端博客好文章</string>
		<string>09-数据库</string>
		<string>11-Redux学习</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>01-html</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305302</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02-css</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03-javascript</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305397</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04-面试题总结</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305397</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-前端博客好文章</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.183056</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06-高性能网站建设指南</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.183056</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-nodejs相关</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>08-数据结构与算法</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>09-数据库</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.183056</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10-其他零散知识点</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305302</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>11-Redux学习</key>
			<dict>
				<key>lastModification</key>
				<real>509337936.18305701</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>12-webpack学习笔记</key>
			<dict>
				<key>lastModification</key>
				<real>509340146.32981801</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
